<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.rubenernst.han.mad.android.puzzle" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TranslucentTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="nl.rubenernst.han.mad.android.puzzle.GameSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="nl.rubenernst.han.mad.android.puzzle.GamePlayActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="nl.rubenernst.han.mad.android.puzzle.GameFinishedActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="nl.rubenernst.han.mad.android.puzzle.MainMenuActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.rubenernst.han.mad.android.puzzle.MultiplayerGamePlayPlayerSelectionActivity"
            android:label="@string/title_activity_multiplayer_game_play"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="nl.rubenernst.han.mad.android.puzzle.MultiplayerGamePlayInboxActivity"
                android:label="@string/title_activity_multiplayer_game_play"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="nl.rubenernst.han.mad.android.puzzle.MultiplayerGamePlayIntentActivity"
                android:label="@string/title_activity_multiplayer_game_play"
                android:configChanges="orientation|screenSize">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>
